<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD +</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="p-4" id="app-add">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="First Name..." v-model="first_name">
           
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Last Name" v-model="last_name">
           
        </div>
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Age" v-model="age">
           
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Province" v-model="province">
        </div>

        <div class="input-group">
            <button class="btn btn-primary btn-block" @click="addUser">Add + </button>
        </div>
        <hr>
       
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/add.js"></script>
</html>